body {
  background: radial-gradient(
    118.45% 71.9% at -6.32% 56.87%,
    #1e1a20 0%,
    #201f49 63.54%,
    #1e1a20 100%
  );
  color: white;
  font-family: "Nunito";

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.landing {
  display: flex;
  align-items: center;

  .image {
    height: 400px;
    margin: 0px 30px;
  }

  h1 {
    font-size: 45px;
    margin: 0;
  }

  .texcontainer {
    flex-grow: 0.2;
    width: 300px;
  }

  ul {
    padding-left: 20px;
  }

  .list_elements {
    margin-bottom: 20px;
  }

  .button {
    background: linear-gradient(264.47deg, #e065ff -11.85%, #6500e4 100%);
    border-radius: 20px;
    height: 63px;
    width: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }

  .cube {
    height: 500px;
    flex-grow: 1;
    margin-right: -50px;
  }
}

.CV {
  margin-top: 100px;

  .container {
    display: flex;
    justify-content: space-around;
  }

  .task {
    background: rgba(196, 196, 196, 0.13);
    border-radius: 10px;
    position: relative;
    margin-bottom: 150px;
    padding-right: 70px;
    padding-left: 20px;
    max-width: 450px;

    &_right {
      text-align: right;
      padding-right: 20px;
      padding-left: 70px;
    }

    .circle {
      border-radius: 100%;
      background: #6c06e6;
      height: 50px;
      width: 50px;
      position: absolute;
      right: -20px;
      top: -20px;
      border-style: solid;
      border-width: 4px;
      border-color: white;

      &_right {
        left: -20px;
        top: -20px;
      }
    }

    .task-year {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
    }

    .task-title {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 27px;
    }

    .task-location {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
    }
  }
}
