@import "nav";
@import "CV";
@import "projects";
@import "landing";


body {
  background: radial-gradient(118.45% 71.9% at -6.32% 56.87%,
      #1e1a20 0%,
      #201f49 63.54%,
      #1e1a20 100%);
  background-repeat: no-repeat;
  color: white;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

