body {
  background: radial-gradient(118.45% 71.9% at -6.32% 56.87%,
      #1e1a20 0%,
      #201f49 63.54%,
      #1e1a20 100%);
  color: white;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}


.landing {
  display: flex;
  align-items: center;

  .image {
    height: 400px;
    margin: 0px 30px;
  }

  .texcontainer {
    flex-grow: 0.2;
    width: 300px;

    h1 {
      font-size: 45px;
      margin: 0;
    }

    ul {
      padding-left: 20px;
    }

    .list_elements {
      margin-bottom: 20px;
    }
  }

  .button {
    background: linear-gradient(264.47deg, #e065ff -11.85%, #6500e4 100%);
    border-radius: 20px;
    height: 63px;
    width: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }

  .cube {
    height: 500px;
    flex-grow: 1;
    margin-right: -50px;
  }
}

.CV {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 150px;
  width: 1000px;


  .line {
    position: absolute;
    width: 10px;
    height: 78%;
    background-color: white;
  }

  .task {
    background: rgba(196, 196, 196, 0.13);
    border-radius: 10px;
    position: relative;
    width: 350px;
    height: 150px;

    &_right {
      text-align: right;
      margin-top: 100px;
    }

    &_left {
      margin-bottom: 100px;
    }

    &_firstRight {
      margin-top: 250px;
    }

    &_firstLeft {
      margin-top: 150px;
    }

    .circle {
      border-radius: 100%;
      background: #6c06e6;
      height: 50px;
      width: 50px;
      position: absolute;
      right: -20px;
      top: -20px;
      border-style: solid;
      border-width: 4px;
      border-color: white;

      .curvedLine {
        position: absolute;
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: transparent;


        &_pointingRight {
          border-top-left-radius: 30px;
          border-top: 7px solid white;
          border-left: 7px solid white;
          top: -50px;
          left: 22px;
        }

        &_pointingLeft {
          border-top-right-radius: 30px;
          border-top: 7px solid white;
          border-right: 7px solid white;
          top: -44px;
          left: -17px;
        }

        &_pointingUp {
          border-bottom-right-radius: 30px;
          border-bottom: 7px solid white;
          border-right: 7px solid white;
          top: -91px;
          left: 65px;
        }

        &_pointingUpFromRight {
          border-bottom-left-radius: 30px;
          border-bottom: 7px solid white;
          border-left: 7px solid white;
          top: -85px;
          left: -60px;
        }
      }
    }

    .task-year {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
    }

    .task-title {
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 27px;
    }

    .task-location {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
    }


    .circle_right {
      left: -20px;
      top: -20px;
    }
  }
}

.separatingLine {
  margin: 0 auto;
  width: 70%;
  height: 0px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

.project {
  background-color: black;
}