.navigation__checkbox {
  display: none; }

.navigation__button {
  background: radial-gradient(black 45%, #e065ff 100%);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  border: solid 1px #e065ff; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-image: radial-gradient(118.45% 71.9% at -6.32% 56.87%, #1e1a20 0%, #201f49 63.54%, #1e1a20 100%);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1e1a20;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: darkgray;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.CV {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1000px; }
  .CV .line {
    position: absolute;
    width: 10px;
    height: 90%;
    background-color: white; }
  .CV .task {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 10px;
    position: relative;
    width: 350px; }
    .CV .task:hover > .task-description {
      display: block;
      opacity: 0.9;
      height: 180px; }
    .CV .task_right {
      margin-top: 100px;
      text-align: right; }
    .CV .task_left {
      margin-bottom: 100px; }
    .CV .task_firstRight {
      margin-top: 250px; }
    .CV .task_firstLeft {
      margin-top: 150px; }
    .CV .task .task-year {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0;
      padding: 6px 10px 0 10px; }
    .CV .task .task-title {
      font-weight: 900;
      font-size: 20px;
      line-height: 27px;
      padding: 0 10px 0 10px;
      margin: 7px 0px; }
    .CV .task .task-location {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
      margin-bottom: 20px;
      padding: 0 10px 0 10px; }
    .CV .task .task-description {
      font-size: 18px;
      opacity: 0;
      transition: all 0.4s;
      padding: 0 20px 0 20px;
      height: 0; }
  .CV .circle {
    border-radius: 100%;
    background: #6c06e6;
    height: 50px;
    width: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    border-style: solid;
    border-width: 4px;
    border-color: white; }
    .CV .circle_right {
      left: -20px;
      top: -20px; }
    .CV .circle .curvedLine {
      position: absolute;
      left: 50%;
      width: 40px;
      height: 40px;
      background-color: transparent; }
      .CV .circle .curvedLine_pointingRight {
        border-top-left-radius: 30px;
        border-top: 7px solid white;
        border-left: 7px solid white;
        top: -50px;
        left: 22px; }
      .CV .circle .curvedLine_pointingLeft {
        border-top-right-radius: 30px;
        border-top: 7px solid white;
        border-right: 7px solid white;
        top: -50px;
        left: -17px; }
      .CV .circle .curvedLine_pointingUp {
        border-bottom-right-radius: 30px;
        border-bottom: 7px solid white;
        border-right: 7px solid white;
        top: -90px;
        left: 65px; }
      .CV .circle .curvedLine_pointingUpFromRight {
        border-bottom-left-radius: 30px;
        border-bottom: 7px solid white;
        border-left: 7px solid white;
        top: -90px;
        left: -61px; }

.project {
  width: 1050px;
  margin: 0 auto;
  margin-top: 70px; }
  .project_mainTitle {
    margin: 0 auto 100px;
    width: 245px;
    font-family: "Nunito";
    font-size: 40px;
    line-height: 61px; }
  .project_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px; }
  .project_textBox {
    width: 450px;
    margin-right: 20px;
    text-align: left; }
    .project_textBox:hover > .project_title_line {
      border: 4px solid #E65763;
      transition: width 1s;
      width: 90px;
      margin-bottom: 20px; }
  .project_description {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; }
    .project_description a {
      color: #e065ff;
      opacity: 0.7; }
  .project_title {
    width: 130px;
    height: 41px;
    font-weight: 900;
    font-size: 25px;
    line-height: 41px;
    margin: 0; }
    .project_title_line {
      width: 0;
      height: 0;
      border: 0 solid #E65763;
      margin-bottom: 28px; }
  .project_image {
    width: 480px;
    transform: scale(1); }
    .project_image_prodzr {
      margin-top: 150px; }
  .project_imageContainer {
    position: relative; }
    .project_imageContainer:hover > .project_image {
      transform: scale(1.1);
      transition: all 0.2s;
      filter: brightness(40%); }
    .project_imageContainer:hover > .project_githubLink {
      display: block; }
    .project_imageContainer:hover > .project_WebpageLink {
      display: block; }
    .project_imageContainer a {
      padding: 10px 20px;
      width: 100%;
      color: #e065ff;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px; }
  .project_githubLink {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -25%);
    border: 5px solid #c61ef0;
    padding: 10px 20px;
    border-radius: 50px;
    display: none; }
  .project_WebpageLink {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -25%);
    border: 5px solid #c61ef0;
    padding: 10px 20px;
    border-radius: 50px;
    display: none; }

.landing {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  max-width: 1400px;
  margin: 100px auto 0; }
  .landing_left {
    display: flex;
    flex-grow: 2; }
  .landing .image {
    height: 400px;
    margin: 0px 20px;
    opacity: 0.85;
    border-radius: 10px; }
  .landing .texcontainer {
    width: 300px; }
  .landing .mainTitle {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    margin: 0; }
  .landing ul {
    padding: 0;
    margin: 0; }
  .landing .list_elements {
    margin-bottom: 20px;
    width: 300px;
    padding: 0;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 0 10px 20px; }
  .landing .btn-1 {
    background: linear-gradient(264.47deg, #e065ff -11.85%, #6500e4 100%);
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
    border: 0;
    transition: all 0.5s;
    border-radius: 100px;
    width: 200px;
    margin-left: 50px; }
    .landing .btn-1:hover {
      background: #e065ff;
      transition: all 0.5s;
      border-radius: 100px;
      box-shadow: 0px 6px 15px #0000ff61;
      padding: 14px;
      width: 300px;
      margin-left: 0; }
  .landing .cube {
    height: 500px;
    flex-grow: 1;
    overflow: hidden; }
  .landing a {
    text-decoration: none;
    color: white; }

.separatingLine {
  margin: 0 auto;
  width: 1000px;
  height: 0px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8); }

.form {
  position: relative;
  height: 560px; }

.login-box {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  width: 800px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 40px; }

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center; }

.login-box .user-box {
  position: relative; }

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s; }

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #e065ff;
  font-size: 12px; }

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #e065ff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px; }

.login-box a:hover {
  background: #e065ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4px #e065ff, 0 0 15px #e065ff, 0 0 30px #e065ff, 0 0 60px #e065ff; }

.login-box a span {
  position: absolute;
  display: block; }

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #e065ff);
  animation: btn-anim1 1s linear infinite; }

@keyframes btn-anim1 {
  0% {
    left: -100%; }
  50%,
  100% {
    left: 100%; } }

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e065ff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s; }

@keyframes btn-anim2 {
  0% {
    top: -100%; }
  50%,
  100% {
    top: 100%; } }

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #e065ff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s; }

@keyframes btn-anim3 {
  0% {
    right: -100%; }
  50%,
  100% {
    right: 100%; } }

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e065ff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s; }

@keyframes btn-anim4 {
  0% {
    bottom: -100%; }
  50%,
  100% {
    bottom: 100%; } }

body {
  background: radial-gradient(118.45% 71.9% at -6.32% 56.87%, #1e1a20 0%, #201f49 63.54%, #1e1a20 100%);
  background-repeat: no-repeat;
  color: white;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  position: relative; }

p {
  margin: 0; }

#particles-js {
  position: absolute;
  top: -100px;
  height: 100%;
  width: 100%;
  z-index: -8; }
