.CV {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1000px;

  .line {
    position: absolute;
    width: 10px;
    height: 90%;
    background-color: white;
  }

  .task {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 10px;
    position: relative;
    width: 350px;
    height: 140px;

    &:hover {
      height: 300px;
      transition: all 1s;
    }

    &:hover>.task-description {
      display: block;
      opacity: 1;
    }

    &_right {
      margin-top: 100px;
      text-align: right;
    }

    &_left {
      margin-bottom: 100px;

    }

    &_firstRight {
      margin-top: 250px;
    }

    &_firstLeft {
      margin-top: 150px;
    }

    .task-year {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0;
      padding: 6px 10px 0 10px;

    }

    .task-title {
      font-weight: 900;
      font-size: 20px;
      line-height: 27px;
      padding: 0 10px 0 10px;
      margin: 7px 0px;
    }

    .task-location {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      margin: 7px 0px;
      padding: 0 10px 0 10px;
    }

    .task-description {
      font-size: 18px;
      opacity: 0;
      transition: all 0.4s;
      padding: 0 10px 0 10px;
    }
  }

  .circle {
    border-radius: 100%;
    background: #6c06e6;
    height: 50px;
    width: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    border-style: solid;
    border-width: 4px;
    border-color: white;

    &_right {
      left: -20px;
      top: -20px;
    }

    .curvedLine {
      position: absolute;
      left: 50%;
      width: 40px;
      height: 40px;
      background-color: transparent;


      &_pointingRight {
        border-top-left-radius: 30px;
        border-top: 7px solid white;
        border-left: 7px solid white;
        top: -50px;
        left: 22px;
      }

      &_pointingLeft {
        border-top-right-radius: 30px;
        border-top: 7px solid white;
        border-right: 7px solid white;
        top: -50px;
        left: -17px;
      }

      &_pointingUp {
        border-bottom-right-radius: 30px;
        border-bottom: 7px solid white;
        border-right: 7px solid white;
        top: -90px;
        left: 65px;
      }

      &_pointingUpFromRight {
        border-bottom-left-radius: 30px;
        border-bottom: 7px solid white;
        border-left: 7px solid white;
        top: -90px;
        left: -61px;
      }
    }
  }
}